<a href="#" class="list-group-item clearfix" (click)="onSelected()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <!-- Here for the src property of image, string interpolation and property binding can be done.
            But I am going with property binding -->
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
</a>